# environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtualenv
venv/
env/
.venv/

# packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
node_modules/
.coverage

# tests and caches
.pytest_cache/

# IDE/editor
.vscode/
.idea/

# git
.git

# OS
.DS_Store

media/
static/
staticfiles/
